//default styles

.header {
    position: relative;

    &__navbar {
      background: $darkGrey;
    }

    &__background {
      height: 174px;
      background: url(../img/header-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text {
      font-family: $fontFamilyMinor;
      font-size: 12px;
      font-weight: 500;
      color: $whiteText;
      padding-left: 17px;
    }
    &__menu-list {
      display: none;
      position: absolute;
      top: 36px;
      right: 0;
      z-index: 1;
      background-color: $dropDownMain;
    }
    &__menu-list-item {
      font-size: 12px;
      color: $dropDownText;
      padding: 10px 95px 8px 11px;
      border: 1px solid $dropDownBorder;

      &:hover {
        cursor: pointer;
        background-color: $dropDownActive;
      }
    }
    &__menu {
      width: 41px;
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $darkBlack;
    }
    &__icon {
      font-size: 12px;
      color: $whiteText;
    }

    &__Xicon {
      font-size: 19px;
      color: $whiteText;
      display: none;
    }
    &__logo {
      display: none;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    padding-top: 17px;

    &__slogan {
      font-size: 15px;
      font-weight: bold;
      color: $whiteText;
      word-spacing: 2px;

      &--margin {
        margin-top: 8px;
      }
    }
    &__web {
      font-size: 14px;
      font-weight: bold;
      color: $blueText;
      margin-top: 11px;
    }
  }

