@media (min-width: 980px) and (max-width: 1199px) {

  .header {
    &__background {
      height: 530px;
    }
  }
  .navbar {

    &__text {
      display: none;
    }

    &__menu-list {
      display: flex;
      position: static;
      background-color: $darkGrey;
    }

    &__menu-list-item {
      font-family: $fontFamilyMinor;
      font-size: 15px;
      text-transform: uppercase;
      color: $navbarText;
      padding: 40px 0;
      margin-left: 31px;
      border: none;
    }

    &__menu {
      display: none;
    }

    &__logo {
      display: block;
      margin-right: 35px;
    }
  }

  .title {
    padding-top: 59px;

    &__slogan {
      font-size: 52px;

      &--margin {
        margin-top: 14px;
      }
    }
    &__web {
      font-size: 34px;
      margin-top: 58px;
    }
  }

  .dropdown {
    display: none;
  }
}


