//C O L O R S
$darkGrey: #373C3F;
$darkBlack: #202529;
$paleGreen: #ACD8AD;
$lightGrey: #3F4043;
$blueText: #9ECAD4;
$lightText: #D2D3D5;
$whiteText: #fff;
$navbarText: #EBEBEB;

$dropDownMain: #FAFAFA;
$dropDownBorder: #E1E1E1;
$dropDownActive: #F5F5F5;
$dropDownText: #444444;

//F O N T S
$fontFamilyMain: Lato, sans-serif;
$fontFamilyMinor: Montserrat, sans-serif;