 .footer {
    background-color: $paleGreen;
    margin-top: 42px;

    &__text-item {
      padding: 13px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__text {
      font-family: $fontFamilyMinor;
      font-size: 13px;
      color: $whiteText;
      word-spacing: -2px;

      &--bottom {
        margin-top: 3px;
      }
    }
    &__logo-item {
      display: none;
    }
  }


